Lezione 3/occorrenze_modificatori.dtd

<!ELEMENT TEI (header, facsmile?, text+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT text (#PCDATA)>


<!-- Dichiarare un elemento root TEI con degli elementi figli: 
        header (obbligatorio una occorrenza)
        facsimile (opzionale una occorrenza)
        text (obbligatorio almeno una occorrenza) -->
