Lezione 4/file.dtd


<!--
DTD generated from ODD source 2019-04-08T17:08:45Z. .
TEI Edition: Version 3.5.0. Last updated on
	29th January 2019, revision 3c0c64ec4
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.5.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pattern ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.version ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.replacement ' CDATA' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike "text"> 
<!ENTITY % model.resourceLike_sequence "text"> 
<!ENTITY % model.resourceLike_sequenceOptional "text?"> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resourceLike_sequenceRepeatable "text+"> 
<!-- end of predeclared classes -->

<!ENTITY % tei_att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % tei_att.ascribed.attributes '
 %tei_att.ascribed.attribute.who;'> 
<!ENTITY % tei_att.ascribed.directed.attribute.toWhom '
toWhom CDATA  #IMPLIED'>
<!ENTITY % tei_att.ascribed.directed.attributes '%tei_att.ascribed.attributes;
 %tei_att.ascribed.directed.attribute.toWhom;'> 
<!ENTITY % tei_att.canonical.attribute.key '
key %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % tei_att.canonical.attributes '
 %tei_att.canonical.attribute.key;
 %tei_att.canonical.attribute.ref;'> 
<!ENTITY % tei_att.ranging.attribute.atLeast '
atLeast %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.atMost '
atMost %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.min '
min %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.max '
max %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.confidence '
confidence %teidata.probability;  #IMPLIED'>
<!ENTITY % tei_att.ranging.attributes '
 %tei_att.ranging.attribute.atLeast;
 %tei_att.ranging.attribute.atMost;
 %tei_att.ranging.attribute.min;
 %tei_att.ranging.attribute.max;
 %tei_att.ranging.attribute.confidence;'> 
<!ENTITY % tei_att.dimensions.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.quantity '
quantity %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.extent '
extent %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.precision '
precision %teidata.certainty;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.scope '
scope %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.dimensions.attributes '%tei_att.ranging.attributes;
 %tei_att.dimensions.attribute.unit;
 %tei_att.dimensions.attribute.quantity;
 %tei_att.dimensions.attribute.extent;
 %tei_att.dimensions.attribute.precision;
 %tei_att.dimensions.attribute.scope;'> 
<!ENTITY % tei_att.written.attribute.hand '
hand %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.written.attributes '
 %tei_att.written.attribute.hand;'> 
<!ENTITY % tei_att.datable.w3c.attribute.when '
when %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notBefore '
notBefore %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notAfter '
notAfter %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.from '
from %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.to '
to %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % tei_att.datable.w3c.attributes '
 %tei_att.datable.w3c.attribute.when;
 %tei_att.datable.w3c.attribute.notBefore;
 %tei_att.datable.w3c.attribute.notAfter;
 %tei_att.datable.w3c.attribute.from;
 %tei_att.datable.w3c.attribute.to;'> 
<!ENTITY % tei_att.datable.attribute.calendar '
calendar %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.attribute.period '
period %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.attributes '%tei_att.datable.w3c.attributes;
 %tei_att.datable.attribute.calendar;
 %tei_att.datable.attribute.period;'> 
<!ENTITY % tei_att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % tei_att.declarable.attributes '
 %tei_att.declarable.attribute.default;'> 
<!ENTITY % tei_att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>
<!ENTITY % tei_att.declaring.attributes '
 %tei_att.declaring.attribute.decls;'> 
<!ENTITY % tei_att.fragmentable.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % tei_att.fragmentable.attributes '
 %tei_att.fragmentable.attribute.part;'> 
<!ENTITY % tei_att.divLike.attribute.org '
org (composite|uniform) "uniform" '>

<!ENTITY % tei_att.divLike.attribute.sample '
sample (initial|medial|final|unknown|complete) "complete" '>
<!ENTITY % tei_att.divLike.attributes '%tei_att.fragmentable.attributes;
 %tei_att.divLike.attribute.org;
 %tei_att.divLike.attribute.sample;'> 
<!ENTITY % tei_att.docStatus.attribute.status '
status %teidata.enumerated;  "draft" '>
<!ENTITY % tei_att.docStatus.attributes '
 %tei_att.docStatus.attribute.status;'> 
<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.editLike.attribute.instant '
instant %teidata.xTruthValue;  "false" '>
<!ENTITY % tei_att.editLike.attributes '
 %tei_att.editLike.attribute.evidence;
 %tei_att.editLike.attribute.instant;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % tei_att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % tei_att.global.attribute.n '
n %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmllang '
xml:lang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlbase '
xml:base %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % tei_att.global.attributes '%tei_att.global.rendition.attributes;%tei_att.global.responsibility.attributes;%tei_att.global.source.attributes;
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n;
 %tei_att.global.attribute.xmllang;
 %tei_att.global.attribute.xmlbase;
 %tei_att.global.attribute.xmlspace;'> 
<!ENTITY % tei_att.naming.attribute.role '
role NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % tei_att.naming.attributes '%tei_att.canonical.attributes;
 %tei_att.naming.attribute.role;
 %tei_att.naming.attribute.nymRef;'> 
<!ENTITY % tei_att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>
<!ENTITY % tei_att.placement.attributes '
 %tei_att.placement.attribute.place;'> 
<!ENTITY % tei_att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.typed.attributes '
 %tei_att.typed.attribute.type;
 %tei_att.typed.attribute.subtype;'> 
<!ENTITY % tei_att.sortable.attribute.sortKey '
sortKey %teidata.word;  #IMPLIED'>
<!ENTITY % tei_att.sortable.attributes '
 %tei_att.sortable.attribute.sortKey;'> 
<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike ""> 
<!ENTITY % model.segLike_sequence ""> 
<!ENTITY % model.segLike_sequenceOptional ""> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.segLike_sequenceRepeatable ""> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.emphLike "title"> 
<!ENTITY % model.emphLike_sequence "title"> 
<!ENTITY % model.emphLike_sequenceOptional "title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "title+"> 
<!ENTITY % model.highlighted "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.measureLike "num"> 
<!ENTITY % model.measureLike_sequence "num"> 
<!ENTITY % model.measureLike_sequenceOptional "num?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "num*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "num+"> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike ""> 
<!ENTITY % model.graphicLike_sequence ""> 
<!ENTITY % model.graphicLike_sequenceOptional ""> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.graphicLike_sequenceRepeatable ""> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial ""> 
<!ENTITY % model.pPart.editorial_sequence ""> 
<!ENTITY % model.pPart.editorial_sequenceOptional ""> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable ""> 
<!ENTITY % model.pPart.transcriptional ""> 
<!ENTITY % model.pPart.transcriptional_sequence ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable ""> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike ""> 
<!ENTITY % model.ptrLike_sequence ""> 
<!ENTITY % model.ptrLike_sequenceOptional ""> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.ptrLike_sequenceRepeatable ""> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike ""> 
<!ENTITY % model.milestoneLike_sequence ""> 
<!ENTITY % model.milestoneLike_sequenceOptional ""> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.milestoneLike_sequenceRepeatable ""> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl"> 
<!ENTITY % model.biblLike_sequence "bibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike ""> 
<!ENTITY % model.labelLike_sequence ""> 
<!ENTITY % model.labelLike_sequenceOptional ""> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.labelLike_sequenceRepeatable ""> 
<!ENTITY % model.listLike ""> 
<!ENTITY % model.listLike_sequence ""> 
<!ENTITY % model.listLike_sequenceOptional ""> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.listLike_sequenceRepeatable ""> 
<!ENTITY % model.noteLike ""> 
<!ENTITY % model.noteLike_sequence ""> 
<!ENTITY % model.noteLike_sequenceOptional ""> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.noteLike_sequenceRepeatable ""> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit ""> 
<!ENTITY % model.global.edit_sequence ""> 
<!ENTITY % model.global.edit_sequenceOptional ""> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.edit_sequenceRepeatable ""> 
<!ENTITY % model.divPart "%model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+"> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.publicationStmtPart.agency "publisher |distributor"> 
<!ENTITY % model.publicationStmtPart.agency_sequence "publisher, distributor"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptional "publisher?, distributor?"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptionalRepeatable "publisher*, distributor*"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceRepeatable "publisher+, distributor+"> 
<!ENTITY % model.publicationStmtPart.detail "date"> 
<!ENTITY % model.publicationStmtPart.detail_sequence "date"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptional "date?"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceRepeatable "date+"> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike "q"> 
<!ENTITY % model.qLike_sequence "q"> 
<!ENTITY % model.qLike_sequenceOptional "q?"> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable "q*"> 
<!ENTITY % model.qLike_sequenceRepeatable "q+"> 
<!ENTITY % model.respLike "author |respStmt"> 
<!ENTITY % model.respLike_sequence "author, respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "author?, respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, respStmt+"> 
<!ENTITY % model.divWrapper ""> 
<!ENTITY % model.divWrapper_sequence ""> 
<!ENTITY % model.divWrapper_sequenceOptional ""> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divWrapper_sequenceRepeatable ""> 
<!ENTITY % model.divTopPart "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+"> 
<!ENTITY % model.divTop "%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divTopPart;+"> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom ""> 
<!ENTITY % model.divBottom_sequence ""> 
<!ENTITY % model.divBottom_sequenceOptional ""> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottom_sequenceRepeatable ""> 
<!ENTITY % model.imprintPart "publisher |distributor"> 
<!ENTITY % model.imprintPart_sequence "publisher, distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, distributor+"> 
<!ENTITY % model.addressLike ""> 
<!ENTITY % model.addressLike_sequence ""> 
<!ENTITY % model.addressLike_sequenceOptional ""> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.addressLike_sequenceRepeatable ""> 
<!ENTITY % model.nameLike "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+"> 
<!ENTITY % model.global ""> 
<!ENTITY % model.global_sequence ""> 
<!ENTITY % model.global_sequenceOptional ""> 
<!ENTITY % model.global_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global_sequenceRepeatable ""> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |bibl"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, bibl"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, bibl?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, bibl*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, bibl+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.measureLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |%model.qLike;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.qLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.qLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.qLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.qLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.highlighted; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.highlighted;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.highlighted;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.highlighted;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.highlighted;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart ""> 
<!ENTITY % model.teiHeaderPart_sequence ""> 
<!ENTITY % model.teiHeaderPart_sequenceOptional ""> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable ""> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike "text"> 
<!ENTITY % model.resourceLike_sequence "text"> 
<!ENTITY % model.resourceLike_sequenceOptional "text?"> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resourceLike_sequenceRepeatable "text+"> 
<!ENTITY % tei_att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % tei_att.personal.attribute.sort '
sort %teidata.count;  #IMPLIED'>
<!ENTITY % tei_att.personal.attributes '%tei_att.naming.attributes;
 %tei_att.personal.attribute.full;
 %tei_att.personal.attribute.sort;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|_DUMMY_model.global|lg|_DUMMY_model.lLike)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|%model.qLike;|%model.phrase;|_DUMMY_model.global)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|_DUMMY_model.global)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|_DUMMY_model.global)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(documento TEI) contiene un documento TEI-conforme, comprendente un'intestazione e un testo, sia esso isolato o parte di un elemento teiCorpus [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT TEI ((teiHeader,(%model.resourceLike;)+))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
version %teidata.version;  #IMPLIED >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:in un riferimento bibliografico contiene il nome dell'autore (o degli autori), personale o collettivo, di un'opera; è la dichiarazione di responsabilità primaria di ciascuna unità bibliografica. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement] -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %tei_att.global.attributes;
 %tei_att.naming.attributes; >
<!--doc:(citazione bibliografica) contiene una citazione bibliografica strutturata liberamente i cui componeneti potrebbero o meno essere codificati esplicitamente. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|_DUMMY_model.gLike|%model.highlighted;|%model.pPart.data;|_DUMMY_model.pPart.edit|_DUMMY_model.segLike|_DUMMY_model.ptrLike|%model.biblPart;|_DUMMY_model.global)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %tei_att.global.attributes;
 %tei_att.declarable.attributes;
 %tei_att.typed.attributes;
 %tei_att.sortable.attributes;
 %tei_att.docStatus.attributes; >
<!--doc:(corpo del testo) contiene l'intero corpo di un testo unitario, esclusi eventuale peritesto iniziale e finale [4. Default Text Structure] -->
<!ELEMENT body (((_DUMMY_model.global)*,((%model.divTop;),(_DUMMY_model.global|%model.divTop;)*)?,((_DUMMY_model.divGenLike),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)?,(((%model.divLike;),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|(((%model.common;),(_DUMMY_model.global)*)+,(((%model.divLike;),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+)?)),((_DUMMY_model.divBottom),(_DUMMY_model.global)*)*))>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %tei_att.global.attributes;
 %tei_att.declaring.attributes; >
<!--doc:contiene una data in qualsiasi foemato [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.7. Dates and Times] -->
<!ELEMENT date (#PCDATA|_DUMMY_model.gLike|%model.phrase;|_DUMMY_model.global)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %tei_att.global.attributes;
 %tei_att.canonical.attributes;
 %tei_att.datable.attributes;
 %tei_att.editLike.attributes;
 %tei_att.dimensions.attributes;
 %tei_att.typed.attributes; >
<!--doc:fornisce il nome di una persona o di un'organizzazione responsabile della distribuzione di un testo. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distributor
 %tei_att.global.attributes;
 %tei_att.canonical.attributes; >
<!--doc:(partizione testuale) contiene una suddivisione del peritesto iniziale, del corpo del testo, o del peritesto finale [4.1. Divisions of the Body] -->
<!ELEMENT div (((%model.divTop;|_DUMMY_model.global)*,((((%model.divLike;|_DUMMY_model.divGenLike),(_DUMMY_model.global)*)+|(((%model.common;),(_DUMMY_model.global)*)+,((%model.divLike;|_DUMMY_model.divGenLike),(_DUMMY_model.global)*)*)),((_DUMMY_model.divBottom),(_DUMMY_model.global)*)*)?))>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %tei_att.global.attributes;
 %tei_att.divLike.attributes;
 %tei_att.typed.attributes;
 %tei_att.declaring.attributes;
 %tei_att.written.attributes; >
<!--doc:(descrizione del file) contiene una descrizione bibliografica completa di un file elettronico. [2.2. The File Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT fileDesc (((titleStmt,(editionStmt)?,(extent)?,publicationStmt,(seriesStmt)?,(notesStmt)?),(sourceDesc)+))>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %tei_att.global.attributes; >
<!--doc:(titolo) contiene qualsiasi tipo di titolo, per esempio il titolo di una sezione, di una lista, di un glossario, di una descrizione di manoscritto, ecc. [4.2.1. Headings and Trailers] -->
<!ELEMENT head (#PCDATA|lg|_DUMMY_model.gLike|%model.phrase;|%model.inter;|_DUMMY_model.lLike|_DUMMY_model.global)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n; >
<!--doc:(nome, nome proprio) contiene un nome proprio o un sintagma nominale. [3.5.1. Referring Strings] -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %tei_att.global.attributes;
 %tei_att.personal.attributes;
 %tei_att.datable.attributes;
 %tei_att.editLike.attributes;
 %tei_att.typed.attributes; >
<!--doc:(numero) contiene un numero in qualsiasi forma. [3.5.3. Numbers and
Measures] -->
<!ELEMENT num %macro.phraseSeq;>
<!ATTLIST num xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST num
type %teidata.enumerated;  #IMPLIED
value %teidata.numeric;  #IMPLIED >
<!--doc:(paragrafo) indica i paragrafi in prosa [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n; >
<!--doc:(dichiarazione sulla pubblicazione) raggruppa le informazioni riguardo la pubblicazione o la distribuzione di un documento elettronico o di altra natua. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description] -->
<!ELEMENT publicationStmt (((%model.publicationStmtPart.agency;),(%model.publicationStmtPart.detail;)*)+|(%model.pLike;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %tei_att.global.attributes; >
<!--doc:fornisce il nome [3.11.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %tei_att.global.attributes;
 %tei_att.canonical.attributes; >
<!--doc:(citazione di discorso, pensiero o testo scritto) contiene una citazione codificata come se fosse (formalmente) espressa da qualcun altro; in narrativa, l'elemento è usato per codificare discorso diretto o indiretto; nei dizionari, può essere usato per indicare esempi, reali o inventati, dell'uso di un termine; nelle descrizioni dei manoscritti o altre metainformazioni per codificare estratti citati da fonti documentate. [3.3.3. Quotation] -->
<!ELEMENT q %macro.specialPara;>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n; >
<!--doc:(responsabilità) contiene una frase che descrive la natura della responsabilità intellettuale di una persona. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %tei_att.global.attributes;
 %tei_att.canonical.attributes;
 %tei_att.datable.attributes; >
<!--doc:(dichiarazione di responsabilità) fornisce una dichiarazione di responsabilità per qualcuno responsabile del contenuto intelletuale di un testo, curatela, registrazione o collana, nel caso in cui gli elementi specifici per autore, curatore ecc. non sono sufficienti o non applicabili. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT respStmt (((((resp)+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,(resp)+)),(note)*))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %tei_att.global.attributes;
 %tei_att.canonical.attributes; >
<!--doc:(descrizione della fonte) fornisce una descrizionei relativa alla o alle fonti da cui è derivato o generato un documento elettronico. [2.2.7. The Source Description] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|_DUMMY_model.listLike)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:(intestazione) fornisce informazioni descrittive e dichiarative che costituiscono un frontespizio elettronico che precede qualsiasi testo TEI-conforme. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text] -->
<!ELEMENT teiHeader ((fileDesc,(_DUMMY_model.teiHeaderPart)*,(revisionDesc)?))>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %tei_att.global.attributes; >
<!--doc:contiene un unico testo di qualsiasi tipo, sia esso unitario o composito, per esempio un testo in versi o teatrale, una raccolta di saggi, un romanzo, un dizionario, o una porzione di corpus [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text (((_DUMMY_model.global)*,(front,(_DUMMY_model.global)*)?,(body|group),(_DUMMY_model.global)*,(back,(_DUMMY_model.global)*)?))>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %tei_att.global.attributes;
 %tei_att.declaring.attributes;
 %tei_att.typed.attributes;
 %tei_att.written.attributes; >
<!--doc:contiene il titolo completo di una qualsiaisi opera. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %tei_att.global.attributes;
 %tei_att.canonical.attributes;
 %tei_att.typed.attribute.subtype;
 %tei_att.datable.attributes;
type %teidata.enumerated;  #IMPLIED
level (a|m|j|s|u) #IMPLIED >
<!--doc:(dichiarazione sul titolo) raggruppa le informazioni sul titolo di un'opera e sulle responsabilità del suo contenuto intellettuale. [2.2.1. The Title Statement 2.2. The File Description] -->
<!ELEMENT titleStmt (((title)+,(%model.respLike;)*))>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %tei_att.global.attributes; >
<!-- end elements -->
